{{#if awards}}
{{#>section title="Awards"}}
	{{#each awards}}
	<div class="item">
		<div class="item__head">
			<h4 class="item__title">
				{{this.title}}
			</h4>
			<h5 class="item__subtitle">
				{{this.awarder}}
			</h5>
			<h5 class="item__subtle">
				{{this.date}}
			</h5>
		</div>
		{{#if this.summary}}
		<div class="item__content">
			{{this.summary}}
		</div>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}