<div class="columns is-gapless is-align-items-center m-0">
    <div class="column is-narrow">
        <span class="icon"><i class="{{icon}}"></i></span>
    </div>
    <div class="column ml-2">
        <a href="{{link}}" target="_blank">
            {{title}}
        </a>
    </div>
</div>