{{#if resume.publications}}
{{#>section title=(sectionTitle resume "publications" "Publications")}}
	{{#each resume.publications}}
	<div class="item">
		<div class="item__head">
			<h4 class="item__title">
				{{this.name}}
			</h4>
			<h5 class="item__subtitle">
				{{this.publisher}}
			</h5>
			<h5 class="item__subtle">
				{{this.releaseDate}}
			</h5>
		</div>
		{{#if this.summary}}
		<div class="item__content">
			{{this.summary}}
		</div>
		{{/if}}
	</div>
	{{/each}}
{{/section}}
{{/if}}