body {
	font-family: "Inter", sans-serif;
}
.c-container {
	width: 80ch;
	max-width: 90%;
	margin: 0 auto;
}
.mb-sm-4 {
	margin-bottom: 1rem !important;
}
@media screen and (min-width: 769px), print {
	.mb-sm-4 {
		margin-bottom: 0 !important;
	}
}
.section-title {
	margin: 0;
	padding: 8px 0 8px 0;
	margin-bottom: 8px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
