body {
	font-family: "Inter", sans-serif;
	line-height: 1.4;
	padding: 1rem;
}

.c-container {
	width: 842px;
	margin: 0 auto;
}

header {
	background: #f3f3f3;
}

.picture {
	width: 275px;
	margin-right: auto;
}

.header-info {
	width: calc(100% - 275px);
	padding: 1rem 2rem;
}

.section-title {
	margin: 0;
	padding: 8px 0 8px 0;
	margin-bottom: 8px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}

.item {
	margin-bottom: 8px !important;
}
.item__head {
	margin-bottom: 4px;
}
.item__title {
	line-height: 1;
	font-size: 22px;
	font-weight: 700;
}
.item__subtitle {
	font-size: 18px;
	font-weight: 500;
}
.item__subtle {
	font-size: 14px;
	color: gray;
	font-style: italic;
}
.item__content ul {
	padding: revert;
	list-style: revert;
	padding-top: 4px;
	padding-bottom: 4px;
}

.skill__title {
	font-weight: 500;
}
.skill__key {
	display: inline-block;
	padding: 4px 8px;
	background: #f3f3f3;
}

blockquote {
	background: #f3f3f3;
	padding: 8px 16px;
	font-style: italic;
}

.text-gray {
	color: gray;
}

@media print {
	.c-container {
		width: 100%;
	}
}
