body {
	font-family: "Inter", sans-serif;
	line-height: 1.4;
}
.c-container {
	width: 80ch;
	max-width: 90%;
	margin: 0 auto;
}

@media print {
	.c-container {
		width: 100%;
	}
}

.mb-sm-4 {
	margin-bottom: 1rem !important;
}
@media screen and (min-width: 769px), print {
	.mb-sm-4 {
		margin-bottom: 0 !important;
	}
}
.section-title {
	margin: 0;
	padding: 8px 0 8px 0;
	margin-bottom: 8px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
.item {
	margin-bottom: 8px !important;
}
.item__head {
	margin-bottom: 4px;
}
.item__title {
	font-size: 22px;
	font-weight: 700;
}
.item__subtitle {
	font-size: 18px;
	font-weight: 500;
}
.item__subtle {
	font-size: 14px;
	color: gray;
	font-style: italic;
}
.item__content ul {
	padding: revert;
	list-style: revert;
	padding-top: 4px;
	padding-bottom: 4px;
}

.skill__title {
	font-weight: 500;
}
.skill__key {
	display: inline-block;
	padding: 4px 8px;
	background: lightgray;
}

blockquote {
	background: lightgray;
	padding: 4px 8px;
	font-style: italic;
}

.text-gray {
	color: gray;
}
